.modal {
    display: none;
}
.modal-toggle:checked ~ .modal {
    display: flex;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    position: relative;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 14px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}
.btn-detail {
    background: #3490dc;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
}
.btn-delete {
    background: #e3342f;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button{
    display: inline-block;
    padding: 8px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #8B7969;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}